.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.bars-loader {
    position: relative;
    display: block;
    margin: auto;
    padding: 0;
    width: 150px;
    height: 50px;
    text-align: center;
}

.bar {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    width: 10px;
    height: 50px;
    border-radius: 0px;
    background: #333;
    box-shadow: 0 4px 10px rgba(47, 47, 47, 0.3);
    animation: swing infinite 2s cubic-bezier(0.955, -0.01, 1, 1);
    transform-origin: 100% 100%;
}

.bar::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    display: block;
    width: 10px;
    height: 10px;
    background: transparent;
    box-shadow: 0 4px rgba(29, 29, 29, 0.3);
    animation: extend infinite 2s cubic-bezier(0.955, -0.01, 1, 1);
    opacity: 0;
    transform-origin: 0% 0%;
}

.bar:nth-child(2),
.bar:nth-child(2)::before {
    animation-delay: 0.1s;
}

.bar:nth-child(3),
.bar:nth-child(3)::before {
    animation-delay: 0.2s;
}

.bar:nth-child(4),
.bar:nth-child(4)::before {
    animation-delay: 0.3s;
}

.bar:nth-child(5),
.bar:nth-child(5)::before {
    animation-delay: 0.4s;
}

.bar:last-of-type {
    animation-name: swing-last;
}

.bar:last-of-type::before {
    animation-name: extend-last;
}

@keyframes swing {
    10% {
        transform: rotate(70deg);
    }
    30% {
        transform: rotate(70deg);
    }
    40% {
        transform: rotate(0deg);
    }
}

@keyframes swing-last {
    10% {
        transform: rotate(90deg);
    }
    30% {
        transform: rotate(90deg);
    }
    40% {
        transform: rotate(0deg);
    }
}

@keyframes extend {
    10% {
        transform: rotate(-70deg);
        width: 20px;
        opacity: 1;
        left: 0px;
        bottom: -1px;
    }
    30% {
        transform: rotate(-70deg);
        width: 20px;
        opacity: 1;
    }
    40% {
        width: 10px;
        transform: rotate(0deg);
        opacity: 0;
    }
}

@keyframes extend-last {
    10% {
        transform: rotate(-90deg);
        width: 20px;
        height: 2px;
        opacity: 0.5;
        left: 3px;
        bottom: -1px;
    }
    30% {
        transform: rotate(-90deg);
        width: 20px;
        height: 2px;
        opacity: 0.5;
    }
    40% {
        transform: rotate(0deg);
        width: 10px;
        height: 10px;
        opacity: 0;
    }
}
